beautifulsoup4==4.12.3
litellm==1.51.3
pydantic==2.9.2
pytest==8.3.3
python-dotenv==1.0.1
Requests==2.32.3
Screenshot==1.0.0
selenium==4.26.1
tokencost==0.1.16
webdriver_manager==4.0.2
litellm==1.51.3
pydantic==2.9.2
pytest==8.3.3
python-dotenv==1.0.1
requests==2.32.3
Screenshot==1.0.0
selenium==4.26.1
tokencost==0.1.16
webdriver-manager==4.0.2
MainContentExtractor==0.0.4
Selenium-Screenshot==2.1.0
pytest-asyncio==0.24.0
