MainContentExtractor>=0.0.4
Selenium-Screenshot>=2.1.0
beautifulsoup4>=4.12.3
langchain>=0.3.7
langchain-openai>=0.2.5
langchain-anthropic>=0.2.4
langchain-fireworks>=0.2.5
pydantic>=2.9.2
pytest>=8.3.3
pytest-asyncio>=0.24.0
python-dotenv>=1.0.1
requests>=2.32.3
selenium>=4.26.1
webdriver-manager>=4.0.2 